<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emilia Cole - About</title>
    <link rel="shartcut icon" href="/img/E.ico" sizes="16x16 32x32"/>
    <script src="https://kit.fontawesome.com/c45a566a63.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body id="body-about">
    <nav id="menú-en-derecha">
        <ul type="none" id="menú-about">
            <li class="enlinea"><a href="/">| HOME |</a></li>
            <li class="enlinea"><a href="/about">ABOUT |</a></li>
            <li class="enlinea"><a href="/music">MUSIC |</a></li>
            <li class="enlinea"><a href="/contact">CONTACT |</a></li>
        </ul>
        <ul>
        <li class="enlinea"><a href="https://twitter.com/?lang=es" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
        <li class="enlinea"><a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
        <li class="enlinea"><a href="https://open.spotify.com/intl-es" target="_blank"><i class="fa-brands fa-spotify"></i></a></li>
        <li class="enlinea"><a href="https://www.apple.com/la/" target="_blank"><i class="fa-brands fa-apple"></i></a></li>
        <li class="enlinea"><a href="https://www.amazon.com/" target="_blank"><i class="fa-brands fa-amazon"></i></a></li>
        <li class="enlinea"><a href="https://www.instagram.com/" target="_blank"></i><i class="fa-brands fa-square-instagram"></i></a></li>
    </ul>
    </nav>
    <h1 id="about-emilia">ABOUT<br>EMILIA //</h1>
    <article id="texto-color-verde">
    <h3 style="color:#0a9650;">"Seattle-based pop star makes her<br>indie debut with a haunitingly beautiful album"</h3>
    <h6 style="color:#0a9650;">-Jonh Tirckle, Music Today Post</h6>

    <h3 style="color:#0a9650;">"Emilia Cole is una of the<br>scene`s breakout stars"</h3>
    <h6 style="color:#0a9650;">-Jonh Tirckle, Music Today Post</h6>
    </article>
</body>
</html>