<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Emilia Cole</title>
    <link rel="shartcut icon" href="/img/E.ico" sizes="16x16 32x32"/>
    <script src="https://kit.fontawesome.com/c45a566a63.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <header>
        <nav>
            <ul type="none">
                <li><a href="/">HOME</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/music">MUSIC</a></li>
                <li><a href="/contact">CONTACT</a></li>
            <li class="enlinea"><a href="https://twitter.com/?lang=es" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
            <li class="enlinea"><a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
            <li class="enlinea"><a href="https://open.spotify.com/intl-es" target="_blank"><i class="fa-brands fa-spotify"></i></a></li>
            <li class="enlinea"><a href="https://www.apple.com/la/" target="_blank"><i class="fa-brands fa-apple"></i></a></li>
            <li class="enlinea"><a href="https://www.amazon.com/" target="_blank"><i class="fa-brands fa-amazon"></i></a></li>
            <li class="enlinea"><a href="https://www.instagram.com/" target="_blank"></i><i class="fa-brands fa-square-instagram"></i></a></li>
        </ul>
        </nav>
        <h2>EMILIA COLE//</h2>

        <h1>TWIST IN MY REALITY</h1>

        <img src="/img/emilia-home.jpg">

    </header>
</body>
</html>