<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shartcut icon" href="/img/E.ico" sizes="16x16 32x32"/>
    <script src="https://kit.fontawesome.com/c45a566a63.js" crossorigin="anonymous"></script>
    <title>Emilia cole - Music</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <img src="/img/emilia-music-top.jpg" height= "250" width = "2000">
    <nav id="menú-en-derecha">
        <ul type="none" id="menú-music">
            <li class="enlinea"><a href="/">HOME |</a></li>
            <li class="enlinea"><a href="/about">ABOUT |</a></li>
            <li class="enlinea"><a href="/music">MUSIC |</a></li>
            <li class="enlinea"><a href="/contact">CONTACT</a></li>
        </ul>
        <ul>
        <li class="enlinea"><a href="https://twitter.com/?lang=es" target="_blank"><i class="fa-brands fa-twitter"></i></a></li>
        <li class="enlinea"><a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook"></i></a></li>
        <li class="enlinea"><a href="https://open.spotify.com/intl-es" target="_blank"><i class="fa-brands fa-spotify"></i></a></li>
        <li class="enlinea"><a href="https://www.apple.com/la/" target="_blank"><i class="fa-brands fa-apple"></i></a></li>
        <li class="enlinea"><a href="https://www.amazon.com/" target="_blank"><i class="fa-brands fa-amazon"></i></a></li>
        <li class="enlinea"><a href="https://www.instagram.com/" target="_blank"></i><i class="fa-brands fa-square-instagram"></i></a></li>
    </ul>
    </nav>
    <h1>MUSIC//</h1>

<h5>direct links</h5>
         <ul>
            <li><a href="#Pistas">Albun</a></li>
            <li><a href="#video1">Video: Organic Love</a></li>
            <li><a href="#video2">video: Street Light</a></li>
         </ul>
    <article id = Pistas ><article>
  <h3>ALBUN <br> TWIST IN MY REALITY</h3>
  <img src="/img/emilia-play-list.png">
        <ol star="1">
            <li>▶️ Organic Love | 02:40</li>
            <li>▶️ Twist My Reality | 02:10</li>
            <li>▶️ Street Light | 03:28</li>
            <li>▶️ Love Don`t Live Here Animore (cover) | 03:49</li>
        </ol>
        <a href="#top">Go to top</a>
        <article id = "video1"></article>
    <h3>VIDEO <br> ORGANIC LOVE</h3>
    <iframe src="https://player.vimeo.com/video/135166028?h=fdb0646ae5" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
    <p>

        <P>
        Directed by VINCE MALC y EMILIA COLE <br>Edited and filmed by NICOLAS TROY</br>Produced by NIKI HEART,<br> Wix Films
        </P>

        <a href="#top">Go to top</a>
        <article id = "video2"></article>
    <h3>VIDEO <br> STREET LIGTH</h3>
    <iframe src="https://player.vimeo.com/video/134861419?h=24e3183108" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
    <p>
        <P>
        Directed by VINCE MALC y EMILIA COLE <br>Edited and filmed by NICOLAS TROY</br>Produced by NIKI HEART,<br> Wix Films
        </P>
        <a href="#top">Go to top</a>
     
</body>
</html>